---
import Layout from "../layouts/Layout.astro";
import UserCreate from "../components/UserCreate.tsx";
---

<Layout title="Create User">
    <main class="container mx-auto p-4">
        <h1 class="text-2xl font-bold mb-4">Create User</h1>
        <UserCreate />
    </main>
</Layout>
